@import '~styles/config';

.color {
  color: $color-alert;

  animation: fadeIn $anim-time ease-in both;
  animation-duration: $anim-time;
  animation-timing-function: ease-in;

  opacity: 0;
  color: $color-alert;

  :global {
    animation-name: fadeIn;
  }
}
